name: Build Docker Image

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build image
        env:
          DOCKER_BUILDKIT: 1
        run: docker build . -t rq-exporter:test

      - name: Run the tests
        run: docker run --rm --entrypoint python rq-exporter:test -m unittest
